.mystyle {
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: inherit;
  display: cover;

  width: 100%;
  background: url("../images/img.jpg") no-repeat center center/cover;
}
body {
  margin: 0 auto;
  text-align: center;
  background: url("../images/114.jpg") no-repeat center center/cover;
}

.form-group {
  text-align: center;
  margin: 0 auto;
}
