.jumbotron{
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  color: plum;
  border-radius: inherit;
  background: url("../images/najma.jpg");
  display: cover;
}

}


.form{
  text-align:center;
}
